
h1 {
	color: GoldenRod;
	
}


p {
	color: GoldenRod;

}
 
body {
background-color: Gold;
}

ul{
list-style-type: none; 	
background: violet;
width: 150px;
	
}


li a:hover{
	background: gray;
}







