
h1 {
	color: GoldenRod;
	
}


p {
	color: GoldenRod;

}
 
body {
	margin: 0;  /*gets rid of white space*/
	
background-color: Gold;
}

ul{
list-style-type: none; 	/*Removes bullets*/ 
background:GoldRod;
width: 150px;
padding: 0;  /*Removes padding on left of list*/
margin: 0;

}


li a {
	display: block; 
	text-decoration:none;
	font-family: Verdana.;
	color: black;
}


li a:hover{
	background: white;
}







